nav {
    background-color: rgb(1, 52, 1);
    color: #f9f6e8;
   }
main {
    display: grid;
    grid-template-columns: 1fr min(65ch 100% - 3rem * 2) 1fr;
    grid-column-gap: 3rem;
   }
main > * {
    grid-column: 2;
   }
.full-bleed {
    grid-column: 1/4;
    box-shadow: 0 0 0 100vmax #acbda1;
    clip-path: inset(0 -100vmax);
   }
div {
    text-align: center;
    padding-bottom: 20px;
   }
#div1 {
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
   }  
#div2 {
    padding-top: 20px;
    padding-left: 200px;
    padding-right: 200px;
    background-color: #acbda1;
   } 
.carousel-inner > .carousel-item > img {
    margin: auto;
   }
#div3 {
    padding: 20px;
    background-image: url('./site_graphics/container-pattern.png')
   }
h1 {
    font-family: Helvetica, Arial, sans-serif
   }
h2 {
    font-family: 'Arial Narrow', Arial, sans-serif
   }
p {
    font-family: Arial, Helvetica, sans-serif;
   }
button {
    float: right;
   }